@import "../lib/bootstrap/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat&family=Merriweather:wght@300&family=Playfair+Display&family=Poppins:wght@100;300&family=Ranchers&display=swap');

:root
{
    --green : #87db8b;
    --violet : #686bae;
    --mauve : #810CA8;
    --yellow : #f1eda3;
    --pink : #fcc9e8;
    --blueOcean : #8ef5ec;
    --blue : #05a9c7;
    --grey : #647295;
    --darckBlue : #262A56;
    --noir : #000;
}

body
{
    background-color: var(--yellow);
    font-family: 'Ranchers', sans-serif;
}

.mainTitle
{
    font-size: 8em;
    color: var(--yellow);
}

h1
{
    position: relative;
    top: 20%;
    color: var(--blue);
}

p
{
    color: var(--violet);
    font-size: 1.5em;
}

label
{
    color: var(--blue);
    font-size: 1.5em;
}

/*Section user*/
span
{
    height: 110px;
    width: 110px;
    background-color: var(--pink);
    color: var(--violet);
    border-radius: 50%;

}

.user
{
    font-size: 1.5em;
    margin-top: 10%;
}
/*Section user END*/
.border
{
    padding: 5%;
}

/*Nav*/
nav
{
    height: 10em;
    background: var(--green);
    background-size: cover;
    opacity: 80%;
}

.nav-link, .nav-item
{
    color: var(--yellow);
    font-size: 1.5em;
}

.nav-link:hover
{
    color: var(--violet);
}

.navbar-brand
{
    font-size: 2em;
    font-weight: bold;
    color: var(--violet);
}

.navbar-brand:hover
{
    color: lightsalmon;
}

.logo
{
    height: 25em;
    width: 25em;
    z-index: 30;
}
/*END Nav*/

.border-perso
{
    border: solid 1px var(--violet);
    padding: 3%;
}

.home
{
    background: url(../img/backGroundHome.jpg) center center no-repeat;
    background-size: cover;
    height: 1800px;
}

.about
{
    background: url(../img/backGroundAbout.png) center center no-repeat;
    background-size: cover;
    height: 1800px;
}

.snakeBg
{
    background: url(../img/backGroundSanky.jpg) center center no-repeat;
    background-size: cover;
    height: 1600px;
}

/*Snake*/
canvas
{
   background-color: var(--noir);
   opacity: 70%;
   border: solid 6px var(--green);
   margin-left: 20%;
}

.snake
{
    background: url(../img/backGroundPageSnake.jpg);
}

/*Snake END*/

/*Flying Ducky*/
.background {
	height: 100vh;
	width: 100vw;
	background: url('../img/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}
.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
/*Flying Ducky END*/

/*Footer*/
footer
{
    height: 350px;
    background: url(../img/footer.svg) center center no-repeat;
    background-size: cover;
}


